.pagination {
  margin-top: 2em;
  margin-bottom: 5em; 
  float: left;
  width: 100%;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin-left: 0.2em;
      margin-right: 0.2em;
      cursor: pointer;
      background-color: #000;
      color: #fff;
      border-radius: 100%;
      padding: 0.8em;
      @include transition(0.3s);
      &:hover {
        background-color: $black-hover-color;
      }
      &.active {
        background-color: $black-hover-color;
      }
    }
  }
}