// variables
$global-padding-container: 0.625em;

// mixins
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin trasition($transition) {
	   -webkit-transition: $transition;
     transition: $transition;
}

// media queries
@mixin minTablet {
  @media all and (min-width: 767px) {
    @content;
  }
}
@mixin maxTablet {
  @media all and (max-width: 767px) {
    @content;
  }
}

@mixin maxSmallPhone {
  @media all and (max-width: 480px) {
    @content;
  }
}