@import '_reset';
@import '_variables';
@import '_filter';

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;	
}

// helper css container row etc
.container {
  float: left;
  width: 100%;
  padding: $global-padding-container;
  &:after {
    content:'';
    clear:both;
    display: table;
  }
  &:before {
    content:'';
    display: table;
  }
  @include minTablet{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.row {
  margin-left: -$global-padding-container;
  margin-right: -$global-padding-container;
  &:after {
    content:'';
    clear:both;
    display: table;
  }
  &:before {
    content:'';
    display: table;
  }
}

h1 {
 font-size: 2em;
 font-weight: bold;
 margin-top:1em;
 margin-bottom:1em;
 float: left;
 width: 100%;
 text-align: center;
}

.sorryMessage {
  color:red;
  padding: 1em;
  text-align: center;
}

.recipeContainer {
  float: left;
  width: 100%;
  .recipe {
    float: left;
    width: 100%;
    &:nth-child(even) {
      background-color: #EAEAEA;
    }
    &:hover:not(.recipeDetail) {
      .image {
        img {
          @include transform(scale(1.1));
        }
      }
      .underlineHelper {
        &:after {
          visibility: visible;
          @include transform(scale(1));
        }
      }
    }
    a {
      color:initial;
      display: block;
      width: 100%;
      float: left;
      padding: 1em;
    }
    .recipeTitle {
      font-size:1.5em;
      font-weight: bold;
      margin-bottom: 0.625em;
      float: left;
      width: 100%;
      text-align: center;
      .underlineHelper {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
    .image {
      display: inline-block;
      float: left;
      width: 50%;
      overflow: hidden;
      border-radius: 1em; 
      img {
        width: 100%;
        display: block;
        @include trasition(0.15s);
      }
    }
    .infoContainer {
      float: right;
      width:50%;
      text-align: center;
      padding: 1em;
      h3 {
        font-weight: bold;
        margin-bottom: 1em;
      }
      .mainIngredients {
        float: left;
        width:100%;
        margin-bottom: 0.313em;
        .ingredient {
          margin-bottom: 0.5em;
        }
      }
      .cookingTime {
        float: left;
        width: 100%;
        margin-top: 0.5em;
      }
    }
    .recipeHelperContainer {
      float: left;
      width: 100%;
      @include maxTablet {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.recipeDetail{
      .image {
        width: 50%;
        @include maxTablet {
          width: 100%;
        }
      }
      .infoContainer {
        @include maxTablet {
          width: 100%;
        }
      }
      .backButton {
        button {
          font-size: 1em;
          border: 0;
          padding: 0.5em;
          border-radius: 0.3em;
          background-color: #000;
          color: #fff;
          cursor: pointer;
          @include trasition(0.3s);
          &:hover {
            background-color: #616161;
          }
        }
      }
    }
  }
}

.fourofour {
  float: left;
  width: 100%;
  padding: 2em;
  h3 {
    text-align: center;
    float: left;
    width: 100%;
  }
}